html {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

.layout {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &-header {
        z-index: 1;
        background-color: #8E8D8A;
        min-height: 100px;
    }
    &-content {
        flex-grow: 1;
        width: 100%;
        max-width: 1364px;
        margin: auto;
        z-index: 2;
    }
    &-footer {
        z-index: 3;
        background-color: #181818;
        min-height: 100px;
    }
}